.nav-link{
    font-size: 15px;
    margin-right: 12px;
    /* font-weight: bold; */
}

.head-logos{
    display: flex;
    text-align: justify;
    padding-top: 10px;
    justify-content: space-around;
}

.top-text{
    color: white;
}

.top-brand{
    color: #ff7907;
}

a{

    font-family: 'Spartan';
}


.btn-warning{
    background-color: #ff7907;
}

.caption-text{
    text-align: start;
    right: 56%;
    position: absolute;
    top: 30%;
    font-weight: 800;
}


p{
    color: coral;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn{
    margin-top: 25px;
}

h4{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 40px;
    font-family: 'Spartan'; 
    font-size: 17px;
    letter-spacing: 1.2em;
    font-weight: bolder;
}

.arkade-text{
    font-weight:bolder;
    font-size: 30px;
    font-family: 'Spartan';
}

.arkade-head{
    color: #ff7907;
    font-weight: 200;
    font-family: 'Spartan';
    
}

.about-us-heading{
    padding: 0px 11px;
    margin-top: 24px;
    margin-left: 1px;
}

.about-img{
    position: absolute;
    padding-top: 250px;
    padding-right: 20px;
    width: 15%;
    
}
 .about-text{
   text-align: start;
   color: rgb(105, 103, 103);
}

.about2-img{
    position: relative;
    left: 60%;
    bottom: 16%;
}

.headings{
    text-align: justify;
    padding-top: 250px;
    padding-left: 70px;
}

h2{
    font-weight: bold;
}

span{
    color: coral;
}

.pro-heading{
    color: #000;
    margin-left: 20px;
}

.pro-2{
    color: #ff7907 ;
}

.buttons {
  padding-right: 136px;
  margin-left: 50px;  
}

.action_btn{
    width: 156px;
    margin: -4px;
    padding: 5px;
}
    

.project-flex{
    display:flex;
    justify-content: center;
    width: 297px;
    padding-left: 44px;
    padding-right: 10px;
    margin-left: 564px;

}

.heading{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    
    padding-top: 30px;
    padding-left: 71px;;
}

.invest-text{
    font-family: 'Spartan';
}

.investors-heading{
    padding: 0px 11px;
    margin-top: 24px;
    margin-left: 1px;
}

.service-text{
    color: rgb(105, 103, 103);;
    letter-spacing: 0.4em;
    font-family: 'Spartan';
}

/* .investor-img{
    width: 40%;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 100px;
}  */

.testimonials{
    background-image: url(img/testimonial.png);
    background-position: center;
    height: 70vh;
    padding-top: 200px;
    background-size: cover;
}



.carousel-item{
    text-align: center;
}

.testimonial-text{
    color:beige;
    font-family: 'Spartan';
    font-size: 15px;
    padding-top: 20px;
}

h3{
    color: coral;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer-data ul li{
    list-style-type:disc;
    padding: 4px;
}
.subs-btn:hover{
    background-color: #000;
    color: #fff;
}
.abt-me{
    float: right;
    margin-top: 50px;
}
.abt-me small:hover{
    text-decoration: underline;
    color: #3d60f4;
    font-weight: 600;
}

.footer-data ul li{
    list-style-type: none;
}

.fa-brands{
    color: #ff7907;
}

.icons{
    display: flex;
    justify-content: space-between;
    padding: 87px;
    padding-left: 56px;
}

.footer-img{
    margin-left: 88px;
}

.copy-text{
    color: white;
    background-color: rgb(28, 25, 25);
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}

@media only screen and (max-width: 768px) {
        .project-flex{
           
            max-width: 45%;
            padding-right: 50px;
            margin-left: 100px;
           
    }
    .caption-text{
        text-align: center;
        right: 14%;
        position: absolute;
        top: 9%;
        font-weight: 800;
        display: block !important;
    }
    
    
    .about2-img{
        position: relative;
        left: 60%;
        bottom: 16%;
    }

    .carousel-item{
        margin-top: 64px;
    }
    
}
 
